<div class="container-fluid">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-primary text-decoration-none fw-bold fs-2">
        Notes
      </a>

      <form class="nav col-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-0"
      role="search" method="POST" action="/dashboard/search">
      <input type="search" name="searchTerm" class="form-control border-primary" placeholder="search" aria-label="search">
    </form>
      
      
    <!-- </header>
  </div> -->

  <div class="col-md-3 text-end">
    <!-- <button type="button" class="btn btn-outline-primary me-2">Login</button> -->
    <a href="/logout" type="button" class="btn btn-outline-primary">Logout</a>
  </div>
</header>
</div>